<header class="bg-white shadow-md">
  <div class="container mx-auto flex justify-between items-center p-4">
    <!-- Logo -->
    <a [routerLink]="['/']"
       class="link text-[#00a062] text-2xl font-bold ">{{ web }}</a>

    <!-- Menu - Hidden on small screens, visible on larger screens -->
    <nav class="hidden md:flex space-x-8">
      <a [routerLink]="['/']" routerLinkActive="active"
         class="link path  text-gray-600  transition-colors duration-300 ">Home</a>
      <a [routerLink]="['/yield']" routerLinkActive="active"
         class="link path text-gray-600 transition-colors duration-300">Yield Calculator</a>
    </nav>

    <!-- Mobile Menu Button -->
    <button class="md:hidden flex items-center text-gray-600 focus:outline-none" (click)="toggleMenu()">
      <!-- Menu Icon -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </button>
  </div>

  <!-- Mobile Menu -->
  <nav *ngIf="isMenuOpen" class="bg-white md:hidden">
    <ul class="space-y-2 p-4">
      <li><a [routerLink]="['/']" routerLinkActive="active" class="link path block text-gray-600  transition-colors duration-300">Home</a></li>
      <li><a [routerLink]="['/yield']" routerLinkActive="active" class="link path block text-gray-600  transition-colors duration-300">Yield Calculator</a></li>
    </ul>
  </nav>
</header>

<router-outlet ></router-outlet>
