.path {
  position: relative;
  border-bottom: 1px solid transparent;
  transition: border-bottom .3s ease-in-out;
}

.path:hover {
  color: #00a062;
  border-bottom: 1px solid currentColor;
}

.path::after {
  content: '';  position: absolute;  width: 0;  height: 1px;
  background: currentColor;
  bottom: 0;  left: 0;
  transition: width .3s ease-in-out;
}

.path:hover::after {
  width: 100%;
}
