<main class="mt-16">
  <section class="bg-gray-100 py-12">
  <div class="container mx-auto px-4 text-center">
    <h1 class="text-4xl font-bold text-gray-800">Welcome to Emerald Stay</h1>
    <p class="mt-4 text-lg text-gray-600">
      Calculate your property's net return with our easy-to-use yield net return simulator.
    </p>
    <a routerLink="/yield" class="link mt-6 inline-block bg-[#00a062] hover:bg-[#008060] px-6 py-3
    rounded-lg transition-colors duration-300">
      Try the Yield Calculator
    </a>
  </div>
</section>

<section class="py-12 ">
  <div class="container mx-auto px-4">
    <h2 class="text-2xl font-semibold text-gray-800">Why Use Our Simulator?</h2>
    <ul class="mt-4 space-y-2 text-gray-600">
      <li>🔍 <strong>Accurate Projections:</strong> Get a clear view of your net income.</li>
      <li>💼 <strong>Plan Ahead:</strong> Understand the impact of fees on your returns.</li>
      <li>📊 <strong>Informed Decisions:</strong> Optimize your rental income strategy.</li>
    </ul>
  </div>
</section>

</main>
